html {
    /* Anchura de la página */
    width: 1366px;
    /* Añado margen a la izquierda y derecha */
    margin: 0 auto;
    /* Fuente de la letra y el tamaño de la misma */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.header {
    width: 1366px;
    height: 120px;
    padding-top: 5px;
    background-color: #236AB9;
    text-align: center;
    color: white;
}

.header h1 {
    color: #341C09;
}

.header h2 {
    color: #FC7307;
}

.inputAndResult {
    background-color: #D4E4F7;
    position: absolute;
    top: 133px;
    bottom: 0px;
    width: 1366px;
    z-index: -1;
}

.inputAndResult p {
    padding-top: 40px;
    padding-right: 470px;
    font-style: italic;
    width: 351px;
    float: right;
    margin: 0px;
}

.inputAndResult form {
    padding-left: 587px;
    width: min-content;
    padding-top: 165px;
}

.results {
    float: right;
    padding-top: 23px;
}

.buttons {
    width: 14%;
    position: absolute;
    top: 36px;
    left: 57px;
}

.buttons button {
    margin: 10px;
    height: 30px;
    width: 100%;
}